@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    



@if (SignInManager.IsSignedIn(User))
{
    string userName = User.Identity.Name;
    string modName = userName.Substring(0, userName.IndexOf('@'));
    <li class="drop-down">
        <a href=""><i class="fas fa-user-circle"></i> <strong>Hello @modName!</strong> </a>
        <ul>
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
            </li>

        </ul>
    </li>
    <li class="mt-2 ml-1">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="btn btn-outline-danger " type="submit"><strong>Logout</strong></button>
        </form>
    </li>
}
else
{
    <li class="drop-down">
        <a href=""><i class="fas fa-user-circle"></i> </a>

        <ul>
            <li>
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </ul>
    </li>
}




