@model PurchaseMeNow.Models.Order
<form method="post">
    <input hidden asp-for="ProductId" />
    <div class="container backgroundWhite">
        <div class="card col-8 offset-2" style="width:500px;">
            <div class="card-header  text-light row ">
                <div class="col-12 col-md-6">
                    <h4 class="text-primary"><strong>@Model.Product.Name</strong></h4>
                </div>
                <div class="col-12 col-md-6 text-md-right pt-4">
                    <span class="badge badge-success pt-2" style="height:30px;">Dept: @Model.Product.Department.Name</span>
                    <span class="badge badge-warning pt-2" style="height:30px;">@Model.Product.Category.Name</span>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">
                            <div class="row pl-2">
                                <p class="text-secondary">@Html.Raw(Model.Product.Description)</p>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="text-primary m-0 pt-1">Count: </div>
                                <div class="col-8">
                                    <input class="form-control" asp-for="Count" />
                                    <span asp-validation-for="Count" class="text-danger"></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="col">
                        <a asp-action="Index" class="btn btn-sm btn-success form-control  ">Back to List</a>
                    </div>
                    <div class="col">

                        <button type="submit" value="Add to Order" class="btn btn-sm btn-primary form-control" >Add to Order</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>