
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="row">
    <div class="col-6">
        <h4 class="text-primary">Product List </h4>
    </div>
    
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table table-hover table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr >
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/product_client.js"></script>

}