@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}




    <div id="logreg-forms">
        <h3 class="col-12 text-dark text-center py-4">
           Sign In
        </h3>
        <form id="account" method="post">
            <input asp-for="Input.Email" class="mb-1 form-control" placeholder="Email" type="email" />
            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i> Sign in</button>

            <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Forgot your password?</a>

            <div asp-validation-summary="All" class="text-danger"></div>
            <a class="btn btn-primary text-white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><i class="fas fa-user-plus"></i> Register as a new user</a>
        </form>
    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
