@page
@model RegisterModel
@using PurchaseMeNow.Utility
@{
    ViewData["Title"] = "Register";
}


<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-dark text-center py-4">
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <strong>Register an User Account</strong>
                            }
                            else
                            {
                                <strong>Register</strong>
                            }
                        </h3>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.Name" placeholder="Name" class="form-control" autocomplete="off"/>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" type="email" placeholder="Email" class="form-control" autocomplete="off"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="Input.Password" placeholder="Password" class="form-control" autocomplete="off"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="Input.ConfirmPassword" placeholder="Confirm password" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.DropDownListFor(m => m.Input.DepartmentId, Model.Input.DepartmentList, "Select a Department", new { @class = "form-control" })
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="form-group">
   
                                @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "Select a Role", new { @class = "form-control" })
                            </div>
                        }
                        <div class="py-2">
                            <button type="submit" class="btn btn-primary form-control">Register</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
