
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="row">
    <div class="col-6">
        <h4 class="text-primary">Category List </h4>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; New Category</a>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" style="width:100%" class="table  table-bordered table-hover ">
        <thead class="thead-dark">
            <tr>

                <th>Name</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{ 
<script src="~/js/category.js"></script>

}